<div
  class='card text-bg-dark'
  style='width: 18rem; max-height:48rem;  margin:1rem;'
>
  <img
    src='{{image}}'
    id='figureImage'
    class='card-img-top'
    alt='figure image'
  />
  <div class='card-body'>
    <h5 class='card-title figure-name'>{{name}}</h5>
    <p class='card-text figure-saga'>{{saga}}</p>
    <p class='card-text figure-type'>{{type}}</p>
    <p class='card-text figure-year'>{{year}}</p>
    <a href='#' data-id={{id}} class='btn btn-outline-success addFigureBtn'>Add
      to Collection</a>
  </div>
</div>